<div class="row">
    {{#each notes}}
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between aling-items-center">
                        {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>{{description}}</p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" id="">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Hello {{user.name}}</h1>
            <p class="lead"> No hay notas aun</p>
            <a href="/notes/add" class="btn btn-success btn-block">Crear Nota</a>
        </div>
    </div>
    {{/each}}
    {{#if notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between aling-items-center">
                    Agregar una nota
                </h4>
                <br>
                <p>{{description}}</p>
                <form action="/notes/add/" method="get">
                    <input type="hidden" name="_method" id="">
                    <button class="btn btn-success btn-block btn-sm" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
    {{/if}}
</div>